*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #e8ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

form {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.title-text {
    color: rgb(59, 59, 59);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    font-weight: 100;
}

.subtitle-text {
    color: rgb(97, 97, 97);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.center-box {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 0px 4px 0 #00000033, 0 4px 10px 0 #00000030;
    min-width: 20%;
    max-width: 20%;
}

.input-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-border:focus-within{
    border-color: #007bff;
}

.input-group-text {
    background-color: white;
    /* border-right: none; */
}

.form-control-nf:focus{
    border: none;
    box-shadow: none;
}

.likes-input:focus{
    border: 1px 1px 1px 10px;
    border-color: #007bff white #007bff #007bff;
    box-shadow: none;
}

.grid-container{
    width: 100%;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    box-shadow: 0 0px 1px 0 #00000033, 0 2px 7px 0 #00000030;
}

.likes-table-container{
    width: 75%;
    margin: 10px;
    border-radius: 6px;
}

.flag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
    margin: 10px 0px 10px 10px;
    border-radius: 6px;
    width: 25%;
    color: #e8ecef;
    background-color: #29a745;
}

.bottom-link:link {
    text-decoration: none;
}

.btn-outline-success
.btn-outline-success:active{
    border-color: #29a745;
    box-shadow:none
}

.btn-outline-success:hover{
    background-color: #29a745;
}

.bottom-edit-div{
    max-width: 25%;
}

.normal-input{
    border: 1px solid black;
    border-radius: 3px;
}

.normal-input:focus{
    border: 2px solid #a141009f;
    box-shadow: inset 0 0 3px #ff660099, 0 0 3px #ff660099;
}

/* Resultados */
.card-box {
    background-color:#f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    margin-top: 20px;
    box-shadow: 0 0px 4px 0 #00000033, 0 4px 10px 0 #00000030;
    
    border-radius: 4px;
}

.result-box {
    min-width: 10%;
    max-width: 20%;
    text-align: center;
}

.result-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.result-header-text {
    width: 60%;
    text-align: left;
}

.header-icon {
    width: 40%;
    font-size: 100px;
}

.field-result {
    color: white;
    padding: 1px 3px;
    margin: 8px 6px 10px 2px;
    border-radius: 4px;
    text-align: right;
    font-size: small;
    font-weight: bold;
    float: right;
}

.field-title {
    color: #007bff;
    margin: 8px 10px 10px 12px;
    text-align: left;
    float: left;
}

.bg-aqua {
    background-color: #17a2b7;
}

.bg-blue {
    background-color: #007cff;
}

.bg-green {
    background-color: #25a845;
}

.bg-red {
    background-color: #d73851;
}